---
import { getCollection } from "astro:content";
import UpRight from "@/assets/icons/upright.svg";
import { defaultLang } from "@/i18n/ui";

const { t } = Astro.props
const currentLocale = Astro.currentLocale || defaultLang;
const projects = await getCollection("projects", (item: any) => item.filePath && item.filePath.includes(`/${currentLocale}/`));
---

<section
  class="w-full py-24 flex flex-col justify-center items-center text-white"
>
  <h2 class="font-bold mb-10 text-center text-3xl">{t("projects")}</h2>
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-8">
    {
      projects.map(({ data }: any) => {
        const { title, description, links, image } = data;
        return (
          <div class="bg-black/25 p-8 text-2xl gap-5 flex flex-col rounded-2xl h-[100%]">
            {image && <img src={image} alt={title} class="w-full my-3 h-36 object-contain" />}
            <h3 class="font-bold text-3xl">{title}</h3>
            <p class="marked" set:html={description} />
            <div class="flex gap-3 mt-auto">
              {links.map((link: any) => (
                <a
                  href={link.url}
                  target="_blank"
                  class="border rounded-md w-fit border-aqua-self p-2 flex gap-3 text-lg items-center text-aqua-self link"
                >
                  {link.name}
                  <div class="icon">
                    <UpRight class=""/>
                  </div>
                  
                </a>
              ))}
            </div>
          </div>
        );
      })
    }
  </div>
</section>
